<?xml version="1.0"?>
<config>	
	<modules>
		<Ecomwise_Base>
			<version>1.0.1</version>
		</Ecomwise_Base>
	</modules>   
	<global> 
		<models>
			<base>
				<class>Ecomwise_Base_Model</class>
			</base>						
		</models> 
		<helpers>
	        <base>
	            <class>Ecomwise_Base_Helper</class>
	        </base>
	    </helpers>
	    <blocks>
            <base>
                <class>Ecomwise_Base_Block</class>
            </base>
        </blocks>
		<events>
			<admin_session_user_login_success>
				<observers>
                   <base_notificationsnotifier_admin_user_login>
                       <class>Ecomwise_Base_Model_NotificationsNotifier_Observer</class>
                       <method>adminUserLoginSuccess</method>
                   </base_notificationsnotifier_admin_user_login>
                   <base_extensionslicencer_admin_user_login>
                       <class>Ecomwise_Base_Model_ExtensionsLicencer_Observer</class>
                       <method>showAdminMessages</method>
                   </base_extensionslicencer_admin_user_login>
	            </observers>
			</admin_session_user_login_success>
			<controller_action_postdispatch>
				<observers>
                   <base_extensionslicencer_postdispatch_action>
                       <class>Ecomwise_Base_Model_ExtensionsLicencer_Observer</class>
                       <method>checkExtensionLicence</method>
                   </base_extensionslicencer_postdispatch_action>
	            </observers>
			</controller_action_postdispatch>
		</events>
	</global>
	<adminhtml>
	    <acl>
	        <resources>
	            <all>
	                <title>Allow Everything</title>
	            </all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <base>
	                                        <title>Ecomwise - All</title>
	                                    </base>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	</adminhtml>
	<default>
        <base>
            <rss>
                <url>www.b2b-extensions.com/provider/extensions/feed/name/</url>
                <use_https>0</use_https>
                <check_frequency>86400</check_frequency>
                <enabled>1</enabled>
                <feed>GENERAL_INFO</feed>
            </rss>
            <licencer>
            	<url>www.b2b-extensions.com/extensions/licence/check/</url> 
                <use_https>0</use_https>
                <check_frequency>86400</check_frequency>
            </licencer>
        </base>
    </default>
</config>     