{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hallo, {{htmlescape var=$userName}}<br /><br /> 
Ihre Berechtigung zur <b>{{htmlescape var=$applicationName}}</b> wurde ge&agrave;ndert  <b>{{htmlescape var=$status}}</b> von Admin-Team.<br /><br />
