<?xml version="1.0"?>
<config>
    <modules>
        <Trollweb_Arvato>
            <version>1.0.0</version>
        </Trollweb_Arvato>
    </modules>
    <global>
        <blocks>
            <arvato>
                <class>Trollweb_Arvato_Block</class>
            </arvato>
        </blocks>
        <models>
            <arvato>
                <class>Trollweb_Arvato_Model</class>
            </arvato>
        </models>
        <helpers>
            <arvato>
                <class>Trollweb_Arvato_Helper</class>
            </arvato>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Trollweb_Arvato>
                    <files>
                        <default>Trollweb_Arvato.csv</default>
                    </files>
                </Trollweb_Arvato>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Trollweb_Arvato>
                    <files>
                        <default>Trollweb_Arvato.csv</default>
                    </files>
                </Trollweb_Arvato>
            </modules>
        </translate>
        <layout>
            <update>
                <arvato>
                    <file>arvato.xml</file>
                </arvato>
            </update>
        </layout>
    </frontend>
    <default>
        <payment>
            <arvato_trustnpay>
                <active>0</active>
                <debug>0</debug>
                <model>arvato/trustnpay</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <test>1</test>
                <title>Arvato Trust'n Pay</title>
                <logo>trustnpay.png</logo>
                <api_password backend_model="adminhtml/system_config_backend_encrypted"/>
                <allowspecific>0</allowspecific>
                <overwrite_billing_address>1</overwrite_billing_address>
                <overwrite_shipping_address>1</overwrite_shipping_address>
            </arvato_trustnpay>
        </payment>
    </default>
</config>

