<?xml version="1.0"?>
<config>
    <modules>
        <Ecomwise_FreeBestsellerssidebar>
            <version>1.2.2</version>
        </Ecomwise_FreeBestsellerssidebar>
    </modules>
    <frontend>
        <routers>
            <freebestsellerssidebar>
                <use>standard</use>
                <args>
                    <module>Ecomwise_FreeBestsellerssidebar</module>
                    <frontName>freebestsellerssidebar</frontName>
                </args>
            </freebestsellerssidebar>
        </routers>
        <translate>
            <modules>
                <Ecomwise_FreeBestsellerssidebar>
                     <files>
                          <default>Ecomwise_FreeBestsellerssidebar.csv</default>
                     </files>
                </Ecomwise_FreeBestsellerssidebar>
            </modules>
        </translate>
        <layout>
            <updates>
                <freebestsellerssidebar>
                    <file>freebestsellerssidebar.xml</file>
                </freebestsellerssidebar>
            </updates>
        </layout>
    </frontend>    
    <adminhtml>	
    	<acl>
	        <resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <freebestsellerssidebar translate="title" module="freebestsellerssidebar">
	                                        <title>Free Bestsellers Sidebar</title>
	                                    </freebestsellerssidebar>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>
	    </acl>
    </adminhtml>     
    <global>
        <models>
            <freebestsellerssidebar>
                <class>Ecomwise_FreeBestsellerssidebar_Model</class>
                <resourceModel>freebestsellerssidebar_mysql4</resourceModel>
            </freebestsellerssidebar>
            <freebestsellerssidebar_mysql4>
                <class>Ecomwise_Bestsellerssidebar_Model_Mysql4</class>
                <entities>
                    <freebestsellerssidebar>
                        <table>freebestsellerssidebar</table>
                    </freebestsellerssidebar>
                </entities>
            </freebestsellerssidebar_mysql4>
        </models>
        <resources>
            <freebestsellerssidebar_setup>
                <setup>
                    <module>Ecomwise_FreeBestsellerssidebar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freebestsellerssidebar_setup>
            <freebestsellerssidebar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freebestsellerssidebar_write>
            <freebestsellerssidebar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freebestsellerssidebar_read>
        </resources>
        <blocks>
            <Ecomwise_FreeBestsellerssidebar>
                <class>Ecomwise_FreeBestsellerssidebar_Block</class>
            </Ecomwise_FreeBestsellerssidebar>
            <freebestsellerssidebar>
                <class>Ecomwise_FreeBestsellerssidebar_Block</class>
            </freebestsellerssidebar>
        </blocks>
        <helpers>
            <freebestsellerssidebar>
                <class>Ecomwise_FreeBestsellerssidebar_Helper</class>
            </freebestsellerssidebar>
        </helpers>
    </global>
    <default>
    	<freebestsellerssidebar>
    		<config>
    			<active>1</active>
    		</config>
    		<style>
    			<skin>default</skin>
    		</style>	
    		<parameters>
    			<enabled>0</enabled>
    			<block_title>Best Sellers</block_title>
    		</parameters>
    	</freebestsellerssidebar>
    </default>
</config>