<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Faq>
            <version>0.1.3</version>
        </Magebuzz_Faq>
    </modules>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <faq>
                    <file>faq.xml</file>
                </faq>
            </updates>
        </layout>
				<translate>
					<modules>
						<Magebuzz_Faq>
							<files>
								<default>Magebuzz_Faq.csv</default>
							</files>
						</Magebuzz_Faq>
					</modules>
				</translate>
    </frontend>
    <admin>
        <routers>
			<faq>
				<use>admin</use>
				<args>
					<module>Magebuzz_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
        </routers>
    </admin>
    <adminhtml>
			<layout>
				<updates>
					<faq>
						<file>faq.xml</file>
					</faq>
				</updates>
			</layout>
			<translate>
					<modules>
						<Magebuzz_Faq>
							<files>
								<default>Magebuzz_Faq.csv</default>
							</files>
						</Magebuzz_Faq>
					</modules>
				</translate>
    </adminhtml>   
    <global>
			<models>
				<faq>
						<class>Magebuzz_Faq_Model</class>
						<resourceModel>faq_mysql4</resourceModel>
				</faq>
				<faq_mysql4>
					<class>Magebuzz_Faq_Model_Mysql4</class>
					<entities>
						<faq>
							<table>faq</table>
						</faq>
						<category>
							<table>faq_category</table>
						</category>
						<category_item>
							<table>faq_category_item</table>
						</category_item>
						<item>
							<table>faq_category_item</table>
						</item>
						<faq_category_store>
							<table>faq_category_store</table>
						</faq_category_store>
						<faq_store>
							<table>faq_store</table>
						</faq_store>
					</entities>
				</faq_mysql4>
			</models>
        <resources>
            <faq_setup>
                <setup>
                    <module>Magebuzz_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
        <blocks>
            <faq>
                <class>Magebuzz_Faq_Block</class>
            </faq>
        </blocks>
        <helpers>
            <faq>
                <class>Magebuzz_Faq_Helper</class>
            </faq>
        </helpers>
    </global>
		<default>
			<faq>
				<general>
					<using_javascript>0</using_javascript>
					<show_top_link>1</show_top_link>
          <sort_order>ASC</sort_order>
				</general>
			</faq>
		</default>
</config>