<?xml version="1.0"?>
<!--
/**
 * @author Nayati 
 */
-->
<config>
    <modules>
        <Nayati_ProductGift>
           <version>1.1.0</version>
        </Nayati_ProductGift>
    </modules>
    <global>
        <models>
            <productgift>
                <class>Nayati_ProductGift_Model</class>
                <resourceModel>productgift_resource</resourceModel>
            </productgift>
            <productgift_resource>
					<class>Nayati_ProductGift_Model_Resource</class>
					<entities>
						<giftskus>
							<table>giftskus</table>
						</giftskus>
					</entities>
            </productgift_resource>
        </models>
        <blocks>
            <productgift>
                <class>Nayati_ProductGift_Block</class>
            </productgift>
        </blocks>
        <resources>
            <productgift_setup>
                <setup>
                    <module>Nayati_ProductGift</module>
                    <class>Nayati_ProductGift_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productgift_setup>
            <productgift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productgift_write>
            <productgift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productgift_read>
        </resources>
        <helpers>
    		<productgift>
    			<class>Nayati_ProductGift_Helper</class>
    		</productgift>
    		<!--catalog>
    			<rewrite>
    				<output>Nayati_ProductGift_Helper_Output</output>
    				<image>Nayati_ProductGift_Helper_Image</image>
     			</rewrite>
    		</catalog-->
    		
    	</helpers>
        <events>
            <catalog_product_save_before>
                     <observers>
                             <productgift_observer>
                                     <type>singleton</type>
                                     <class>Nayati_ProductGift_Model_Observer</class>
                                     <method>checkSKU</method>
                             </productgift_observer>
                     </observers>
             </catalog_product_save_before>
          </events>
		<blocks>
			<adminhtml>
				<rewrite>
						<catalog_product_grid>Nayati_ProductGift_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
			</adminhtml>
        </blocks>
					<sales_convert_order_to_quote>
            	<observers>
                    <productgift_observer>
                        <type>singleton</type>
                        <class>Nayati_ProductGift_Model_Observer</class>
                        <method>reorder</method> 
                    </productgift_observer>
                </observers>
            </sales_convert_order_to_quote>
    </global>
	<adminhtml>
         <layout>
            <updates>
				<Nayati_productgift>
                     <file>salesitem.xml</file>
                </Nayati_productgift>
            </updates>
        </layout>
     </adminhtml>
   <resources>
            <productgift_setup>
                    <setup>
                        <module>Nayati_ProductGift</module>
                    </setup>
                    <connection>
                            <use>default_setup</use>
                    </connection>
            </productgift_setup>
            <productgift_write>
                    <connection>
                            <use>default_write</use>
                    </connection>
            </productgift_write>
            <productgift_read>
                    <connection>
                            <use>default_read</use>
                    </connection>
            </productgift_read>
    </resources>
    <frontend>
    	<events>
    	    <checkout_cart_product_add_after>
                <observers>
                    <productgift_observer>
                        <type>singleton</type>
                        <class>Nayati_ProductGift_Model_Observer</class>
                        <method>addGift</method>
                    </productgift_observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_product_update_after>
              <observers>
                <productgift_observer>
                    <type>singleton</type>
                    <class>Nayati_ProductGift_Model_Observer</class>
                    <method>updatePGift</method>
                </productgift_observer>
              </observers>
            </checkout_cart_product_update_after>
            <controller_action_predispatch>
              <observers>
                <productgift_observer>
                    <type>singleton</type>
                    <class>Nayati_ProductGift_Model_Observer</class>
                    <method>noUpdateGift</method>
                </productgift_observer>
              </observers>
            </controller_action_predispatch>
            <sales_quote_remove_item>
            	<observers>
                    <productgift_observer>
                        <type>singleton</type>
                        <class>Nayati_ProductGift_Model_Observer</class>
                        <method>deletePGift</method>
                    </productgift_observer>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_update_items_after>
            	<observers>
                    <productgift_observer>
                        <type>singleton</type>
                        <class>Nayati_ProductGift_Model_Observer</class>
                        <method>updtatePGiftA</method>
                    </productgift_observer>
                </observers>
            </checkout_cart_update_items_after>
			<checkout_type_onepage_save_order>
            	<observers>
                    <productgift_observer>
                        <type>singleton</type>
                        <class>Nayati_ProductGift_Model_Observer</class>
                        <method>checkoutValidation</method> 
                    </productgift_observer>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_convert_quote_item_to_order_item>
				<observers>
                    <productgift_observer>
                        <type>singleton</type>
                        <class>Nayati_ProductGift_Model_Observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method> 
                    </productgift_observer>
                </observers>
			</sales_convert_quote_item_to_order_item>
            
    	</events>
		<routers>
			<checkout>
				<args>
					<modules>
						<Nayati_ProductGift before="Mage_Checkout">Nayati_ProductGift</Nayati_ProductGift>
					</modules>
				</args>
			</checkout>
		</routers>  
       <layout>
            <updates>
                <Nayati_productgift>
                     <file>cataloggift.xml</file>
                </Nayati_productgift>
             </updates>
             
        </layout>
        
      </frontend>
    
</config>