<?xml version="1.0"?>
<config>
    <modules>
        <W3Themes_Themeoptions>
            <version>1.7.0.0</version>
        </W3Themes_Themeoptions>
    </modules>
    <frontend>
        <routers>
            <themeoptions>
                <use>standard</use>
                <args>
                    <module>W3Themes_Themeoptions</module>
                    <frontName>themeoptions</frontName>
                </args>
            </themeoptions>
        </routers>
        <layout>
            <updates>
                <themeoptions>
                    <file>themeoptions.xml</file>
                </themeoptions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<themeoptions>
				<use>admin</use>
				<args>
					<module>W3Themes_Themeoptions</module>
					<frontName>themeoptions</frontName>
				</args>
			</themeoptions>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<themeoptions>
					<file>themeoptions.xml</file>
				</themeoptions>
			</updates>
		</layout>
		<menu>
			<w3themes module="themeoptions" translate="title">
				<title><![CDATA[<span class="w3-mainmenu">W3Themes</span>]]></title>
				<sort_order>71</sort_order>               
				<children>
					<themeoptions translate="title" module="themeoptions">
						<title>Theme Options</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/themeoptions</action>
							</configuration>
						</children>
					</themeoptions>
				</children>
			</w3themes>
		</menu>
    </adminhtml>   
    <global>
        <models>
            <themeoptions>
                <class>W3Themes_Themeoptions_Model</class>
                <resourceModel>themeoptions_mysql4</resourceModel>
            </themeoptions>
            <themeoptions_mysql4>
                <class>W3Themes_Themeoptions_Model_Mysql4</class>
                <entities>
                    <themeoptions>
                        <table>themeoptions</table>
                    </themeoptions>
                </entities>
            </themeoptions_mysql4>
        </models>
        <resources>
            <themeoptions_setup>
                <setup>
                    <module>W3Themes_Themeoptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </themeoptions_setup>
            <themeoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </themeoptions_write>
            <themeoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </themeoptions_read>
        </resources>
        <blocks>
            <themeoptions>
                <class>W3Themes_Themeoptions_Block</class>
            </themeoptions>
            <adminhtml>
                <rewrite>
                    <page_menu>W3Themes_Themeoptions_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <themeoptions>
                <class>W3Themes_Themeoptions_Helper</class>
            </themeoptions>
        </helpers>
    </global>
    <default>
        <themeoptions>
            <themeoptions_config>
                <account_icon>1</account_icon>
                <wishlist_icon>1</wishlist_icon>
                <cart_icon>1</cart_icon>
                <related_products>1</related_products>
                <social_buttons>1</social_buttons>     
            </themeoptions_config>
        </themeoptions>
    </default>
</config>