<div class="klarna_box_bottom_title klarna_einwilligung">
    Mit der &uuml;bermittlung der f&uuml;r die Abwicklung der gew&auml;hlten Klarna Zahlungsmethode und einer Identit&auml;ts- und Bonit&auml;tspr&uuml;fung erforderlichen Daten an Klarna bin ich einverstanden.
    Meine <a class="klarna_consent" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/{{eid}}/{{defaultLanguage}}_{{country}}/consent" target="_blank">Einwilligung</a>
    kann ich jederzeit mit Wirkung f&uuml;r die Zukunft widerrufen. Es gelten die <a href="{{config.agb_link}}" target="_blank">AGB</a> des H&auml;ndlers.
</div>
