<div style="clear: both;"></div>
<div class="klarna_apr_examples klarna_usp" data-pc-type="account">
    <p class="bread_text">
        <strong>Flexible Raten - Mehr Flexibilität, mehr Komfort</strong>
        <ul>
            <li>Sie bestimmen die Ratenhöhe jeden Monat selbst (Min. 1/24 der Rechnungssumme, in diesem Fall: {{accountMonthlyCost}})</li>
            <li>Keine festen Laufzeiten! Der Restbetrag ist jederzeit begleichbar – ohne zusätzliche Kosten</li>
            <li>Eine einzige monatliche Abrechnung für alle Einkäufe mit Klarna Ratenkauf</li>
        </ul>
    </p>
</div>
{{#totalCost}}
<div class="klarna_apr_examples klarna_usp" data-pc-type="campaign" data-pc-id="{{pclass_id}}">
    <p class="bread_text">
        <strong>{{months}} Monatsraten - Kleine Raten für große Einkäufe</strong>
        <ul>
            <li>Keine Startgebühr</li>
            <li>Ratenhöhe und Fälligkeit sind sofort bekannt</li>
            <li>Eine einzige monatliche Abrechnung für sämtliche Einkäufe mit Klarna Ratenkauf im Internet</li>
            <li>Sie erhalten Ihre Ware bevor Sie bezahlen und können alles in Ruhe prüfen</li>
        </ul>
    </p>
</div>
{{/totalCost}}
