body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
}
#upload-wrapper {
}
#upload-wrapper h3 {
}
#output{
	padding: 5px;
	font-size: 12px;
}
#output img {
	border: 1px solid #DDD;
	padding: 5px;
}