<?xml version="1.0"?>
<config>
	<sections>
		<carriers>
			<groups>
				<edipost translate="label" module="shipping">
					<label>Edipost</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>

						<shipping_key translate="label">
							<label>API-nøkkel</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</shipping_key>

						<username translate="label">
							<label>Brukernavn</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</username>

						<password translate="label">
							<label>Passord</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</password>

					</fields>
				</edipost>
			</groups>
		</carriers>
	</sections>
</config>
