.breadcrumbs span {
  background-image: url(../images/sprite1.png);
  background-position: -10px -8px;
}
.pager .view-mode a.grid, .pager .view-mode strong.grid {
  background-image: url(../images/sprite1.png);
  background-position: -3px -31px;
}
.pager .view-mode strong.grid {
  background-image: url(../images/sprite1.png);
  background-position: -3px -31px;
}
.btn-remove {
  background-image: url(../images/sprite1.png);
  background-position: -10px -72px;
}
.btn-previous {
  background-image: url(../images/sprite1.png);
  background-position: -10px -103px;
}
.btn-remove2 {
  background-image: url(../images/sprite1.png);
  background-position: -10px -134px;
}
.btn-edit {
  background-image: url(../images/sprite1.png);
  background-position: -10px -170px;
}
.top-cart-icon {
  background-image: url(../images/sprite1.png);
  background-position: -10px -201px;
}
.icon-cart-big {
  background-image: url(../images/sprite1.png);
  background-position: 0px -252.5px;
}
.icon-wishlist-big {
  background-image: url(../images/sprite1.png);
  background-position: 0px -300px;
}
.icon-login-big {
  background-image: url(../images/sprite1.png);
  background-position: 0px -348.5px;
}
.compare-table .btn-remove {
  background-image: url(../images/sprite1.png);
  background-position: -10px -401px;
}
.newproductslider-container .flex-direction-nav a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -436px;
}
.brand-slider-contain .flex-direction-nav a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -436px;
}
.upsellslider-container .flex-direction-nav a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -436px;
}
.label-pro-new, .label-pro-sale {
  background-image: url(../images/sprite1.png);
  background-position: -10px -526px;
}
.label-pro-sale {
  background-image: url(../images/sprite1.png);
  background-position: -10px -592px;
}
.products-list .label-pro-new {
  background-image: url(../images/sprite1.png);
  background-position: -10px -658px;
}
#accordion .ui-icon-minus {
  background-image: url(../images/sprite1.png);
  background-position: -10px -724px;
}
.add-to-cart input.qty-decrease {
  background-image: url(../images/sprite1.png);
  background-position: -10px -724px;
}
#accordion .ui-icon-plus {
  background-image: url(../images/sprite1.png);
  background-position: -10px -762px;
}
.add-to-cart input.qty-increase {
  background-image: url(../images/sprite1.png);
  background-position: -10px -762px;
}
.availability-only a {
  background-image: url(../images/sprite1.png);
  background-position: 0px -800px;
}
.product-prev, .product-next {
  background-image: url(../images/sprite1.png);
  background-position: -1px -844px;
}
.product-next {
  background-image: url(../images/sprite1.png);
  background-position: -1px -878px;
}
.product-view .product-img-box .zoom #handle {
  background-image: url(../images/sprite1.png);
  background-position: -10px -918px;
}
.email-friend a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -960px;
}
.product-view .box-tags .product-tags li {
  background-image: url(../images/sprite1.png);
  background-position: 0px -1019px;
}
.advanced-search-summary strong {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1050px;
}
.tool-tip .btn-close a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1081px;
}
.remember-me-popup .remember-me-popup-head .remember-me-popup-close {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1081px;
}
.map-popup-close {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1081px;
}
.gift-message-row .btn-close {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1116px;
}
.opc .buttons-set .back-link a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1151px;
}
.multiple-checkout .place-order .grand-total {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1185px;
}
.multiple-checkout .place-order .grand-total .inner {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1185px;
}
.checkout-multishipping-shipping .box-sp-methods .pointer {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1276px;
}
.map-popup-arrow {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1337px;
}
.footer-freeshipping .shipping-icon {
  background-image: url(../images/sprite1.png);
  background-position: -1px -1357px;
}
.twitted li {
  background-image: url(../images/sprite1.png);
  background-position: -5px -1408px;
}
.footer li {
  background-image: url(../images/sprite1.png);
  background-position: 0px -1455px;
}
.mobilemenu span.head a {
  background-image: url(../images/sprite1.png);
  background-position: -7.5px -1488px;
}
.mobilemenu li.active > span.head a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1520.5px;
}
.mobilemenu li.selected span.head a {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1520.5px;
}
.ui-slider .ui-slider-handle {
  background-image: url(../images/sprite1.png);
  background-position: -10px -1553px;
}
.validation-advice {
  background-image: url(../images/sprite1.png);
  background-position: -8px -1587px;
}
.error-msg {
  background-image: url(../images/sprite1.png);
  background-position: 10px 9px;
}
.success-msg {
  background-image: url(../images/sprite1.png);
  background-position: 10px 9px;
}
.note-msg, .notice-msg {
  background-image: url(../images/sprite1.png);
  background-position: 10px 9px;
}
tr.summary-total .summary-collapse {
  background-image: url(../images/sprite1.png);
  background-position: 1340px 5px;
}
.cart-tax-total {
  background-image: url(../images/sprite1.png);
  background-position: 1340px 5px;
}
.link-rss {
  background-image: url(../images/sprite1.png);
  background-position: 0px 2px;
}
.global-site-notice .notice-inner {
  background-image: url(../images/sprite1.png);
  background-position: 20px 25px;
}
.support-inner {
  background-image: url(../images/sprite1.png);
  background-position: 0px -4.5px;
}
.block-account .block-content li a {
  background-image: url(../images/sprite1.png);
  background-position: 0px 9px;
}
.block-account .block-content li a:hover {
  background-image: url(../images/sprite1.png);
  background-position: 0px 5.5px;
}
.block-account .block-content li.current {
  background-image: url(../images/sprite1.png);
  background-position: 0px 5.5px;
}
.block-currency {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.block-layered-nav li {
  background-image: url(../images/sprite1.png);
  background-position: 0px 10px;
}
.fish_menu ul li a {
  background-image: url(../images/sprite1.png);
  background-position: 14px 50%;
}
.page-popup .link-print {
  background-image: url(../images/sprite1.png);
  background-position: 0px 2px;
}
.new-vertscroller-wrap .jcarousel-next-vertical {
  background-image: url(../images/sprite1.png);
  background-position: 667.5px 3px;
}
.new-vertscroller-wrap .jcarousel-prev-vertical {
  background-image: url(../images/sprite1.png);
  background-position: 667.5px 5px;
}
.products-list .link-wishlist {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.product-view .product-shop .add-to-links .link-wishlist {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.products-list .link-compare {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.product-view .product-shop .add-to-links .link-compare {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.availability-only {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0.5px;
}
.tier-prices li {
  background-image: url(../images/sprite1.png);
  background-position: 0px 3px;
}
#ticker {
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.info-box {
  background-image: url(../images/sprite2.png);
  background-position: 0px -10px;
}
.order-info-box {
  background-image: url(../images/sprite2.png);
  background-position: 0px -10px;
}
.mostviewed-product-title h2 {
  background-image: url(../images/sprite2.png);
  background-position: 0px -54px;
}
.addresses-list li.item {
  background-image: url(../images/sprite2.png);
  background-position: 0px -104px;
}