<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">cher {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bienvenue &aacute; {{var store.getFrontendName()}}. Pour vous connecter lors de la visite de notre site vous suffit de cliquer
                             <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Connexion</a> or <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">mon compte</a> en haut de chaque page, puis entrez votre adresse e-mail et mot de passe.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Utilisez les valeurs suivantes lorsque vous &ecirc;tes invit&eacute; &aacute; vous identifier:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>mot de passe</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Lorsque vous vous connectez &aacute; votre compte, vous serez en mesure de faire ce qui suit:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Passez &aacute; travers la caisse plus rapidement lors d'un achat</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; V&eacute;rifier l'&eacute;tat des commandes</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Afficher les commandes pass&eacute;es</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Apporter des modifications &aacute; vos informations de compte</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Changez votre mot de passe</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Adresses alternatives de magasin (pour l'exp&eacute;dition aux membres et amis de la famille plusieurs!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                           Si vous avez des questions au sujet de votre compte ou de toute autre question, s'il vous pla&icirc;t n'h&eacute;sitez pas &aacute; nous contacter au 
                            <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">
                            {{config path='trans_email/ident_support/email'}}</a> 
                           ou par t&eacute;l&eacute;phone au {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                        <center><p style="font-size:12px; margin:0;">Merci encore, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>